
.customBtn {
  width: 50%;
  margin-top: 40px;;
  height: 100px;
  border-radius: 20px;
  background-color: wheat;
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  font-weight: bold;
  -webkit-box-shadow: 7px 14px 17px 13px rgba(0,0,0,0.6); 
  box-shadow: 7px 14px 17px 13px rgba(0,0,0,0.6);
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6); 
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6);
  }
}