.container {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  h1 {
    text-align: center;
    color: wheat;
    font-size: 2.5em;
    line-height: 1.5;
    position: relative;
    text-shadow: 0 0 10px rgb(97, 71, 22), 0 0 20px rgb(64, 47, 14), 0 0 30px rgb(112, 85, 37);

  }
  .gamePad {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(2, 100px);
    gap: 12px;
    margin: 20px 0;
  }
  .square {
    border: 1px solid black;
    border-radius: 20%;
    width: 100px;
    height: 100px;
    &:hover {
      cursor: pointer;
    }
  }
  .yellow {
    background-color: yellow
  }
  .green {
    background-color: green;
  }
  .blue {
    background-color: blue;
  }
  .red {
    background-color: red;
  }
  .fade {
    opacity: 0.8; /* Make it slightly transparent */
    transform: scale(1.2); /* Make it slightly bigger */
    transition: all 0.3s ease-in-out;
  }
  .pressed {
    opacity: 0.8; /* Make it slightly transparent */
    transform: scale(1.1); /* Make it slightly bigger */
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 20px red ;
  }
  .redGlow { box-shadow: 0 0 20px red; }
  .yellowGlow { box-shadow: 0 0 20px yellow; }
  .blueGlow { box-shadow: 0 0 20px blue; }
  .greenGlow { box-shadow: 0 0 20px green; }
// etc.
}
