
body {
  background-color: #011F3F;
  font-family: 'Press Start 2P', cursive;
  color: #FEF2BF;
  font-weight: bold;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

body.game-over {
  background-color: red;
  opacity: 0.8;
}