.container {
  text-align: center;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  h1 {
    text-align: center;
    color: wheat;
    font-size: 2.5em;
    line-height: 1.5;
    position: relative;
    text-shadow: 0 0 10px rgb(97, 71, 22), 0 0 20px rgb(64, 47, 14), 0 0 30px rgb(112, 85, 37);

  }
}

.nameInputs {
  display: flex;
  flex-direction: column;
  margin: 40px;
  
  label {
    font-size: 2em;
    text-shadow: 0 0 10px rgb(97, 71, 22), 0 0 20px rgb(64, 47, 14), 0 0 30px rgb(112, 85, 37);
  }

  .input {
    font-size: large;
    margin-top: 40px;
  }
}

.matrix_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure it stays above the rain effect */
}

.rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    rgba(16, 14, 8, 0.1) 0,
    rgba(28, 25, 18, 0.2) 2px,
    transparent 4px
  );
  animation: rain 10s linear infinite;
  z-index: 1; /* Place it behind the text */
}

.start {
  width: 50%;
  margin-top: 40px;;
  height: 100px;
  border-radius: 20px;
  background-color: wheat;
  font-family: 'Press Start 2P', cursive;
  font-size: large;
  font-weight: bold;
  -webkit-box-shadow: 7px 14px 17px 13px rgba(0,0,0,0.6); 
  box-shadow: 7px 14px 17px 13px rgba(0,0,0,0.6);
  &:hover {
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6); 
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.6);
  }
}

/* Animation for the rain effect */
@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* Glitch effect for the text */
@keyframes glitch {
  0%, 100% {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(0);
  }
  33% {
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
    transform: translate(-5px, -5px);
  }
  66% {
    clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
    transform: translate(5px, 5px);
  }
}
