.container {
  text-align: center;
  h1 {
    color: wheat;
    font-size: 80px;
    position: relative;
    text-shadow: 0 0 10px rgb(97, 71, 22), 0 0 20px rgb(64, 47, 14), 0 0 30px rgb(112, 85, 37);

  }
}

.nameInputs {
  display: flex;
  flex-direction: column;
  margin: 40px;
  
  label {
    font-size: 2em;
    text-shadow: 0 0 10px rgb(97, 71, 22), 0 0 20px rgb(64, 47, 14), 0 0 30px rgb(112, 85, 37);
  }

  .input {
    font-size: large;
    margin-top: 40px;
  }
}

.matrix_container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure it stays above the rain effect */
}

.rain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    rgba(241, 195, 11, 0.1) 0,
    rgba(201, 155, 17, 0.2) 2px,
    transparent 4px
  );
  animation: rain 10s linear infinite;
  z-index: 1; /* Place it behind the text */
}

/* Animation for the rain effect */
@keyframes rain {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

/* Glitch effect for the text */
@keyframes glitch {
  0%, 100% {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(0);
  }
  33% {
    clip-path: polygon(0 0, 100% 0, 100% 15%, 0 15%);
    transform: translate(-5px, -5px);
  }
  66% {
    clip-path: polygon(0 85%, 100% 85%, 100% 100%, 0 100%);
    transform: translate(5px, 5px);
  }
}
